{% extends 'core/base.html' %}

{% block title %}Contact | {% endblock %}

{% block content %}
    <<b>Contact</b>>
    <h2>University of Wolverhampton:</h2>
    <break> Wulfruna St, Wolverhampton WV1 1LY/01902 321000</break>
    <h3>https://www.wlv.ac.uk/</h3>
    
    
    
    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d77554.33727230625!2d-2.2014364193440428!3d52.595412193233365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487080d43225d7fd%3A0x526da09547380126!2sWolverhampton!5e0!3m2!1sro!2suk!4v1646853584473!5m2!1sro!2suk" 
	width="1150" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

{% endblock %}cls